# Build artifacts
build/
*.o
*.a
*.so
*.dll
thermolangc

# IDE specific files
.vscode/
.idea/
*.suo
*.user

# Other
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Python Environment
thermo_env/
rough/